@model SchoolLIbrary.Models.ViewModels.BookViewModel

<h3 class="card-header mb-5">Register a new book</h3>

<form asp-action="AddBook" method="post">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Publisher"></label>
                <input asp-for="Publisher" class="form-control" />
                <span asp-validation-for="Publisher" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre"></label>
                <input asp-for="Genre" class="form-control" />
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="MaterialType"></label>
                <input asp-for="MaterialType" class="form-control" />
                <span asp-validation-for="MaterialType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Faculty</label>
                <input asp-for="Falculty" class="form-control" />
                <span asp-validation-for="Falculty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Department"></label>
                <input asp-for="Department" class="form-control" />
                <span asp-validation-for="Department" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateCreated"></label>
                <div class="input-group">
                    <input type="datetime-local" value="{{ DateTime.UtcNow.ToString(" yyyy-MM-ddTHH:mm") }}" name="DateCreated" id="DateCreated" class="form-control" asp-for="DateCreated" required/>
                </div>
            </div>
        </div>

        <div class="form-group mt-4">
            <input type="submit" value="Add Book" class="btn btn-primary" />
        </div>
    </div>
    <style type="text/css">
        .form-group {
            margin-top: 10px;
        }
    </style>

    @*<script>
        $(function () {
            $("#DateCreated").datepicker({
                dateFormat: "yy-mm-dd"
            });
        });
    </script>*@

</form>
