
@model RegisterViewModel;

@{
    ViewData["Title"] = "Student Registration";
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<form method="post" action="/Account/Register">
    <div class="row register">
        <div class="col-md-3 register-left">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
            <h3>Welcome</h3>
            <p>You are seconds away from accessing your preferred educational materials!</p>
            <a class="btn btn-light rounded-3 mb-5" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
        </div>

        <div class="col-md-9 register-right">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading">Student Registeration Form</h3>
                    <div class="row register-form">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="RegNo">Reg. No</label>
                                <input asp-for="RegNo" type="text" class="form-control" id="RegNo" name="RegNo" required>
                            </div>
                            <div class="form-group">
                                <label for="FirstName">First Name</label>
                                <input asp-for = "FirstName" type="text" class="form-control" id="FirstName" name="FirstName" required>
                            </div>
                            <div class="form-group">
                                <label for="LastName">Last Name</label>
                                <input asp-for="LastName" type="text" class="form-control" id="LastName" name="LastName" required>
                            </div>
                            <div class="form-group">
                                <label for="Email">Email</label>
                                <input asp-for="Email" type="email" class="form-control" id="Email" name="Email" required>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="PhoneNo">Phone No</label>
                                <input asp-for="PhoneNo" type="tel" class="form-control" id="PhoneNo" name="PhoneNo" required>
                            </div>
                            <div class="form-group">
                                <label for="Username">Username</label>
                                <input asp-for="Username" type="text" class="form-control" id="Username" name="Username" required>
                            </div>
                            <div class="form-group">
                                <label for="Password">Password</label>
                                <input asp-for="Password" type="password" class="form-control" id="Password" name="Password" required>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="ConfirmPassword">Confirm Password</label>
                                <input asp-for="ConfirmPassword" type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" required>
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group" hidden="hidden">
                                <label for="UserType">User Type</label>
                                <select name="usertype" id="usertype" class="form-control">
                                    <option value="Student">Student</option>
                                </select>
                            </div>
                            <input type="submit" class="btnRegister btn" value="Register" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
