@{
    ViewData["Title"] = "Home";
}
@model HomeViewModel;

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<h1>Welcome @Model.FirstName @Model.LastName to the Library!</h1>

<p>Here are some quick links to get you started:</p>

<ul>
    <li><a asp-area="" asp-controller="Materials" asp-action="Index">Browse materials</a></li>
    <li><a asp-area="" asp-controller="Checkouts" asp-action="Checkout">Check out a material</a></li>
    <li><a asp-area="" asp-controller="Users" asp-action="Index">View users</a></li>
</ul>

